/* Cart.css */

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;


    justify-content: center;
    align-items: center;

    margin: 71px 156px;
    /* Center the container horizontally */
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.item-details {
    display: flex;
    align-items: center;
}

/* .btn-buy {
    margin-left: 20px;
} */
