/* Center the reset password container */
.reset-password-container {
    max-width: 400px;
    margin: 50px auto;
    /* Center the container horizontally */
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    /* Center the heading */
  }
  
  .reset-password-form input {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  
  /* Style the reset password button */
  .reset-password-form button {
    background-color: #563517;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    /* Make the button full-width */
    transition: background-color 0.3s;
    /* Add a smooth hover effect */
  }
  
  .reset-password-form button:hover {
    background-color: #b48a62;
    /* Change button color on hover */
  }
  
  /* Style the link */
  .reset-password-form p {
    text-align: center;
    /* Center the text */
  }
  
  .reset-password-form a {
    color: #563517;
    /* Match the link color with the button color */
    text-decoration: none;
  }
  
  .reset-password-form a:hover {
    text-decoration: underline;
    /* Add underline on hover */
  }
  
  /* Center the logo and add some margin */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 3px #cbc2bf;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  
  
  